<div class="container hidden" id='train-info'>
  <ul class="timeline">
      <li>
        <div class="timeline-badge primary"><i class="glyphicon glyphicon-road"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title" id='terminus-station'></h4>
            <h5 id='train-operator'> Operator: </h5>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Left DEPART STATION At TIME</small></p>
            <h4 class="timeline-title" id='closest-station'></h4>

            <div class="timeline-body">
              <div class='row text-center'>
                <div class="col-xs-6 text-left">
                  <h4 class="timeline-title" id='usr-destination'>Travelling to: </h4>
                </div>
                <div class="col-xs-6">
                  <h5 class='timeline-title text-muted' id='arrival-time'>
                    arrival time<i class="glyphicon glyphicon-time"></i>
                  </h5>
                </div>
              </div>

            <div class='row text-center'>
              <div class="col-xs-6 text-left"><h5>Delay</h5></div>
              <div class="col-xs-6"><h5 class='text-muted'>0 mins<i class="glyphicon glyphicon-time"></i></h5></div>
            </div>


            <div class='row text-center'>
              <div class="col-xs-6">
                <button type="button" class="btn-sm btn btn-success timeline-button">
                  <h4><i class="glyphicon glyphicon-ok"></i></h4>
                </button>
              </div>

              <div class="col-xs-6">
                <button type="button" class="btn-sm btn btn-danger timeline-button">
                  <h4><i class="glyphicon glyphicon-remove"></i></h4>
                </button>
              </div>
            </div>
          </div>

          <div class='row text-center'>
            <div class="messaging">
              <a id="whatsapp" href="https://api.whatsapp.com">Send to friend</a>
            </div>
          </div>

        </div>
      </li>
    </ul>
</div>
