<div id="spinner"></div>

<div class="container hidden" id='train-info'>
  <ul class="timeline">
      <li>
        <div class="timeline-badge primary"><i class="glyphicon glyphicon-road"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <small class="text-muted"><i class="glyphicon glyphicon-time"></i><h3 class="bold-title" id='terminus-station'></h3>
            <h5 id='train-operator'> Operator: </h5>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Left DEPART STATION At TIME</small></p>
            <h4 class="bold-title" id='closest-station'></h4>

            <div class="timeline-body">
              <div class='row text-center'>
                <div class="col-xs-6 text-left">
                  <h4 class="bold-title" id='usr-destination'>Travelling to: </h4>
                  <h4 class='bold-title' id='arrival-time'>
                    current arrival time <i class="glyphicon glyphicon-time"></i>
                  </h4>
                </div>
              </div>
            </div>

          <div class='row text-center'>
            <div class="messaging">
              <a id="whatsapp" href="https://api.whatsapp.com">Send to friend</a><img id="whatsapp" src="/images/whatsapp.png" />
            </div>
          </div>

        </div>
      </li>
    </ul>
</div>
