<div class="container-fluid text-center">
  <div id="finder" class="row content">

    <div class="col-sm-12 text-center" id='home-page-div'>
      <h1 id='welcome'>Welcome</h1>
      <input type="text" class="form-control" id="destination" placeholder='Where are you going?'>
      <hr>

      <button type="button" id="create" class="btn btn-primary btn-lg" >Find My Train!</button>
    </div>

  </div>
</div>
