<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find My Train</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/styling.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/timeline.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

    </style>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </nav>
  </head>

  <body>
    <div class="container-fluid text-center">
      <div id="finder" class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-center">
          <h1>Welcome</h1>
          <input type="text" class="form-control" id="destination" placeholder='Where are you going?'>
          <hr>

          <button type="button" id="create" class="btn btn-primary btn-lg" >Find My Train!</button>

        </div>
        <div class="col-sm-2 sidenav">

        </div>
      </div>
    </div>

      <div class="container">
        <ul class="timeline hidden" id='train-info'>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-road"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title" id='terminus-station'>Service to: </h4>
                  <h5 id='train-operator'> Operator: </h5>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Left DEPART STATION At TIME</small></p>

                  <div class="timeline-body">
                    <div class='row text-center'>
                      <div class="col-xs-6 text-left">
                        <h5 class="timeline-title" id='usr-destination'>Travelling to: </h5>
                      </div>
                      <div class="col-xs-6">
                        <h5 class='timeline-title text-muted' id='arrival-time'>
                          4:04  <i class="glyphicon glyphicon-time"></i>
                        </h5>
                      </div>
                    </div>

                  <div class='row text-center'>
                    <div class="col-xs-6 text-left"><h5>Delay</h5></div>
                    <div class="col-xs-6"><h5 class='text-muted'>0 mins<i class="glyphicon glyphicon-time"></i></h5></div>
                  </div>


                  <div class='row text-center'>
                    <div class="col-xs-6">
                      <button type="button" class="btn-sm btn btn-success timeline-button">
                        <h4><i class="glyphicon glyphicon-ok"></i></h4>
                      </button>
                    </div>

                    <div class="col-xs-6">
                      <button type="button" class="btn-sm btn btn-danger timeline-button">
                        <h4><i class="glyphicon glyphicon-remove"></i></h4>
                      </button>
                    </div>
                  </div>
                </div>

                <div class='row text-center'>
                  <div class="messaging">
                    <a id="whatsapp" href="https://api.whatsapp.com">Send to friend</a>
                  </div>
                </div>

              </div>
            </li>
          </ul>
      </div>

    <footer class="navbar navbar-fixed-bottom text-center">
      <p>About</p>
    </footer>

    <script src='/scripts/journey.js'></script>
    <script src='/scripts/trainETA.js'></script>
    <script src='/scripts/stationFinder.js'></script>
    <script src='/scripts/stationsModel.js'></script>
    <script src='/scripts/trainFinder.js'></script>
    <script src='/scripts/geolocator.js'></script>
    <script src='/scripts/initializer.js'></script>
    <script src='/scripts/destinationModel.js'></script>
    <script src='src/apiCalls.js'></script>
    <script src='/scripts/index.js'></script>

  </body>
</html>
