<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/asset-load.ejs %>
    <% include partials/scripts.ejs %>
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <% include partials/user-form.ejs %>
    <% include partials/output.ejs %>
    <% include partials/footer.ejs %>
  </body>
</html>
