
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.glyphicon.glyphicon-home{
  color: white;
  padding: 5px;
}

#welcome{
  color: white;
}
#destination{
  width: 60%;
  margin:auto;
}

body {
  background-image: url("/images/1511.jpg");
  background-size: cover;
}

.navbar{
  /*background-color: #5CB3FF !important;*/
  background: rgba(92, 179, 255, 0.7);
}
input.placeholder {
    text-align: center;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px
}

.hidden {
  display: none;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #fff;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
